@import './_variables';

#carousel-product .carousel-item .product1 {
	color: $orange-color;
}
#carousel-product .carousel-item .product2 {
	color: $green-color;
}
#carousel-product .carousel-item .product3 {
	color: $blue-color;
}